.header{
  width: 858px;
  height: 93px;
  position: relative;
  left: 960px;
  top: 68px;
  color: rgba(0, 0, 0, 1);
  font-family: 'sourcesanspro';
  font-style: normal;
  font-size: 72px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  display: block;
}
.seleccion {
  position: absolute;
  left: 1124px;
  top: 200px;
  background-color: grey;
  color: white;
  padding: 1%;
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  align-content: center;
  align-items: center;
  justify-items: center;
 
}

.par{
  position: absolute;
  left: 1279px;
  top: 313px;
  background-color: #411717;
  color: white;
  padding: 1%;
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;

}

.impar{
  position: absolute;
  left: 1258px;
  top: 408px;
  background-color: #411717;
  color: white;
  padding: 1%;
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;

}
body {
  font-family: 'Press Start 2P', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #00ffff, #ff6ac1);
  background-size: cover;
}

.container {
  font-family: 'Press Start 2P', sans-serif;
  color: #ffffff; 
  background: linear-gradient(135deg, #00ffff, #ff6ac1); 
 background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%; 
}

.container .content {
  max-width: 800px;
  width: 90%;
  text-align: center;
  
}

button {
  cursor: pointer;
  background: linear-gradient(135deg, #00ffff, #ff6ac1); 
  background-size: cover; 
  color: #0f0f1e;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s ease; 
}

button:hover {
  background: linear-gradient(135deg, #00ffff, #ff6ac1);
  background-size: cover;
}

.header {
  font-size: 36px;
  margin-bottom: 40px;
}

.section {
  background-color: #4b0082; 
  color: #ffffff;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.1);
}

  .par, .impar {
    background: linear-gradient(135deg, #00ffff, #ff6ac1); 
    background-size: cover; 
  }

.num {
  padding: 20px;
  font-size: 24px;
  margin-bottom: 40px;
}

#numero,
#valor {
  height: 200%;
}

#valor {
  position: relative;
  top: 27px;
}

.derecha {
  margin-top: auto;
}
